[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/colorschemes"]
	path = vim/bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/haskell-vim"]
	path = vim/bundle/haskell-vim
	url = https://github.com/neovimhaskell/haskell-vim.git
[submodule "vim/bundle/purescript"]
	path = vim/bundle/purescript
	url = https://github.com/raichoo/purescript-vim.git
[submodule "vim/bundle/vim-go"]
	path = vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/bundle/elm-vim"]
	path = vim/bundle/elm-vim
	url = https://github.com/ElmCast/elm-vim.git
[submodule "vim/bundle/vim-stylish-haskell"]
	path = vim/bundle/vim-stylish-haskell
	url = https://github.com/nbouscal/vim-stylish-haskell.git
