layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane split_direction="vertical" {
        pane command="fish"
        pane stacked=true {
            pane command="hx"
            pane command="dev" {
                args "file-tree"
            }
        }
    }
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
    swap_tiled_layout {
        tab max_panes=4 {
            pane size=1 borderless=true {
                plugin location="zellij:tab-bar"
            }
            pane split_direction="vertical" {
                pane size="50%"
                pane stacked=true {
                    pane
                    pane
                }
            }
            pane size=2 borderless=true {
                plugin location="zellij:status-bar"
            }
        }
        tab max_panes=5 {
            pane size=1 borderless=true {
                plugin location="zellij:tab-bar"
            }
            pane split_direction="vertical" {
                pane size="50%"
                pane stacked=true {
                    pane
                    pane
                    pane
                }
            }
            pane size=2 borderless=true {
                plugin location="zellij:status-bar"
            }
        }
        tab max_panes=6 {
            pane size=1 borderless=true {
                plugin location="zellij:tab-bar"
            }
            pane split_direction="vertical" {
                pane size="50%"
                pane stacked=true {
                    pane
                    pane
                    pane
                    pane
                }
            }
            pane size=2 borderless=true {
                plugin location="zellij:status-bar"
            }
        }
        tab {
            pane size=1 borderless=true {
                plugin location="zellij:tab-bar"
            }
            pane split_direction="vertical" {
                pane size="50%"
                pane stacked=true {
                    pane
                    pane
                    pane
                    pane
                    pane
                }
            }
            pane size=2 borderless=true {
                plugin location="zellij:status-bar"
            }
        }
    }
}
